.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
  }
  
  header, footer, .content{
    margin: auto;
    width:100%;
  }
  
  header .section,footer .section, .content .section{
    height:100%;
    width:100%;
    margin:auto;
  }
  
  header, footer {
    flex: 0 0 auto;
  }
  
  .content{
    flex: 1;
  }

  .nav-close-btn{
      transform: rotate(90deg);
  }
  

  .mat-grid-list{
    width:40vw;
  }

  .btn{
    text-align:left;
  }
  